<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statement</title>
</head>

<body>
    <div class="row d-flex justify-content-center align-items-center h-100 bg-dark-subtle">
  
        <h5 class="p-4 m-2">{{date|date:'medium'}}</h5>

        <div class="col-md-9 col-lg-6 col-xl-5">
            <div class="d-flex mt-4">
                <button (click)="searchKeyChange('')" type="button" class="btn btn-primary">All</button>
                <button (click)="searchKeyChange('Credit')" type="button" class="btn btn-success">Credit</button>
                <button (click)="searchKeyChange('Debit')" type="button" class="btn btn-danger">Debit</button>
            </div>
            <h3 class="text-center">Account statement</h3>
            <h5></h5>
            <table class="table table-success table-striped justify-content-center table-responsive table-hover">
                <thead>
                    
                    <tr>
                        <th scope="col"># </th>
                        <th scope="col">Type </th>
                        <th scope="col">Amount</th>
                        <th scope="col">Account Holdername</th>
                        <th scope="col">Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of transactions|data:searchKey:'type';let j = index">
                        
                    <td>{{j+1}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.user}}</td>
                    <td>{{i.date}}</td>
                </tr>
                </tbody>
            </table>
            <button (click)="convertPdf()" type="button" class="btn btn-primary">Export As <i
                    class="fa-solid fa-file-pdf bg-danger"></i></button>



        </div>
        <div class="col-md-9 col-lg-6 col-xl-5 p-4 offset-xl-1" id="d">
            <img src="https://i.postimg.cc/4y9Cwx90/online-banking-woman-enters-electronic-office-491047-386.jpg"
                class="img-fluid" alt="Sample image">
            <div class=" align-content-md-end mt-5 p-5 m-5 m-lg-4 me-lg-5">
                <a href="home"  type="button" class="btn btn-outline-primary align-content-md-end">Back to <i class="fa-solid fa-house"></i></a>
            </div>
        </div>
    </div>
</body>

</html>