<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <title>Document</title>
</head>

<body>

  <div class="container-fluid h-custom m-5 p-5 bg-dark-subtle" id="main">
    <div class="row  justify-content-center align-items-center d-flex">

      <!-- style="background-image: url('https://img.freepik.com/premium-vector/online-banking-woman-enters-electronic-office_491047-386.jpg?w=740');font-size: small;background-repeat:no-repeat;background-size: cover;"> -->
      <div class="col-md-9 col-lg-6 col-xl-5 " id="d">


        <img class="w-100 h-100" src="https://i.postimg.cc/4y9Cwx90/online-banking-woman-enters-electronic-office-491047-386.jpg"
          alt="Sample image">
      </div>


      <!-- <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1  container-fluid d-flex h-custom border m-5 p-5"> -->


      <!-- <div class="mask d-flex align-items-center h-100 gradient-custom-3 container h-100" id='main'> -->
      <!-- <div class="container h-100"> -->
      <!-- <div class="row d-flex justify-content-center align-items-center container h-100"> -->
      <!-- <div class="card card-body p-5" style="border-radius: 15px;"> -->
      <!-- <div class="card card-body p-0 m-auto col-12 col-md-9 col-lg-7 col-xl-6" > -->
      <!-- <h3 class=" text-center ">Create an account</h3> -->

      <div class="col-md-9 col-lg-5 col-xl-5 border m-auto  mt-auto  p-3 " id="f">

        <h3 class="text-uppercase text-center mt-auto p-lg-5 p-0 ">Create an account</h3>

        <form [formGroup]="signUpModelForm" id="d">

          <div class="form-outline mb-2 p-2">
            <!-- <label class="form-label" for="form3Example1cg">Your Name</label> -->

            <input formControlName="uname" type="text" id="suname1" class="form-control form-control-lg" placeholder="Enter your username"
              name="suname">
            <label class="form-label" for="suname1">Username</label>
          </div>
          <div *ngIf="signUpModelForm.get('uname')?.errors&&signUpModelForm.get('uname')?.touched">
            <p class="text-danger text-center">Accept only letters </p>
          </div>

          <div class="form-outline mb-4 p-2">
            <input formControlName="acno" type="text" id="sacno2" class="form-control form-control-lg " placeholder="Enter your Account number"
              name="sacno">
            <label class="form-label" for="sacno2">Account Number</label>
          </div>
          <div *ngIf="signUpModelForm.get('acno')?.errors&&signUpModelForm.get('acno')?.touched">
            <p class="text-danger text-center">Accept only numbers </p>
          </div>

          <div class="form-outline mb-4 p-2">
            <input formControlName="psw" type="password" id="spwd3" name="spwd" class="form-control form-control-lg" placeholder="Password">
            <label class="form-label" for="spwd3">Password</label>
          </div>
          <div *ngIf="signUpModelForm.get('psw')?.errors&&signUpModelForm.get('psw')?.touched">
            <p class="text-danger text-center">Accept only numbers and numbers </p>
          </div>

          <div class="form-outline mb-4 p-2">
            <input formControlName="cpsw" type="password" id="srpwd" name="srpwd4" class="form-control form-control-lg"
              placeholder="Repeat your password">
            <label class="form-label" for="srpwd4">Confirm password</label>
          </div>
          <div *ngIf="pswMatch">
            <p class="text-danger text-center">Password doesn't match</p>
          </div>

          <div class="form-check d-flex justify-content-center mb-4">
            <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg"> -->
            <label class="form-check-label" for="form2Example3g">
              I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
            </label>
          </div>

          <div class="d-flex justify-content-center">
            <button  (click)="Signup()" type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
              id="sbtn">Register</button>
          </div>

          <p class="text-center text-muted mt-1 mb-0">Have already an account? <a href="home"
              class="fw-bold text-body"><u>Login here</u></a></p>
        </form>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</body>

</html>