<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div class="container">
    <div class="row">
  <h3 class="text-primary text-center p-2">Enjoy NetBanking with SBI</h3>

  <!-- <div class="container h-100">
        <h3 id="hhead">Enjoy net banking with SBI</h3>
        <p id="hpara">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde mollitia esse minima
            exercitationem illo suscipit incidunt consequatur iste commodi non atque illum, aspernatur quod nobis
            nostrum perspiciatis. Nemo, quam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis itaque
            similique laudantium quidem. Amet dolorem pariatur magni, aspernatur voluptatum minus quo repellendus hic ad
            veniam, soluta nisi beatae doloremque eveniet.</p>
    </div>
    <div id="himg">
        <img src="https://img.freepik.com/premium-vector/online-banking-woman-enters-electronic-office_491047-386.jpg?w=740"
            class="img-fluid" alt="Sample image">
    </div> -->
  
      
  <!-- </div> -->
  
  <!-- <div class="col col-md-9 col-lg-6 col-xl-5 p-4 offset-xl-1 border list-group-horizontal" id="lf"> -->


  <div class=" col col-md-6 justify-content-center text-center d-flex list-group  w-25   d-flex ">
    <div class="card w-auto" id="cb">
      <div class="card-body">
        <p class="card-text"><i class="fa-solid fa-user"></i>View profile</p>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Button</button>

      </div>
    </div>
    <div class="card w-auto" id="cb">
      <div class="card-body">
        <p class="card-text"><i class="fa-solid fa-sack-dollar"></i>Balance <br> Enquiry</p>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample">
          Button
        </button>
      </div>
    </div>
    <div class="card w-auto" id="cb">
      <div class="card-body">
        <p class="card-text"><i class="fa-solid fa-money-bill-transfer"></i>Money Transfer</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal2">Button</button>

      </div>
    </div>
    <div class="card w-auto" id="cb">
      <div class="card-body">
        <p class="card-text"><i class="fa-solid fa-receipt"></i>Account<br> Statement</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="card w-auto" id="cb">
      <div class="card-body">
        <p class="card-text"><i class="fa-solid fa-right-from-bracket"></i>LogOut</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="card w-auto" id="cb">
      <div class="card-body">
        <p class="card-text"><i class="fa-solid fa-trash"></i>Delete Account</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>

  </div>
  <!-- carousal -->
    <!-- <div class="col-md-12 col-lg-6 col-xl-5 p-4 offset-xl-1" id="d"> -->
      <div class="col col-md-6 m-auto  p-lg-5">
        <p class="text-center p-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores velit eligendi laudantium corporis quo accusamus nihil assumenda enim aperiam, totam, incidunt quas dolorum optio non nisi cumque architecto modi maiores.</p>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="1s">
        <div class="carousel-inner  d-flex">
          <div class="carousel-item active">
            <img id="imag" src="https://i.postimg.cc/KjgF4Vdh/mobile-banking-financial-technology-with-people-using-phones-background-53876-104205.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item ">
            <img id="imag" src="https://i.postimg.cc/JnhmbtB8/online-banking-with-mobile-device-3-smartphone-screens-with-accounts-data-processing-security-info-i.jpg" class="d-block`" alt="...">
          </div>
          <div class="carousel-item ">
            <img id="imag" src="https://i.postimg.cc/SNxTkCbk/pay-goods-by-credit-card-through-smartphone-coffee-shop-1150-18770.jpg" class="d-block" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
   
    </div>
    </div>
  <!-- </div> -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <h2>Profile details</h2>
            <img class="w-50" src="https://i.postimg.cc/SxG7PVTk/vector-users-icon.jpg" alt="">
          </div>
          <div class="mt-5 text-center">
            <h5>Username : Name</h5>
            <h5>Account Number :12345</h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary m-auto" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <!-- offcanvas -->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <img class="w-50"
          src="https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29pbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
      <div class="fs-4">
        <h3>Hi username </h3>
        <p class="mt-5"> Your current balane in account number 1234 is</p>
        <h4 style="color: blue;" class="mt-4"> Balance 00000</h4>
      </div>
      <div class="dropdown mt-3">

      </div>
    </div>
  </div>


  <!-- Modal2 -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Money Transfer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="w-75 mt-5 "
            src="https://i.postimg.cc/FFbh6B5Y/mobile-bank-users-transferring-money-currency-conversion-tiny-people-online-payment-cartoon-illustra.jpg"
            alt="">
          <form action="">
            <input type="text" id="acc" class="form-control mt-3" placeholder="Enter your Account Number">
            <input type="text" id="bacc" class="form-control mt-3" placeholder="Enter beneficiary account Number">
            <input type="text" id="amnt" class="form-control mt-3" placeholder="Amount you need transfer">
            <div class="mt-5">
              <button type="button" class="btn btn-primary ">Transfer</button>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>